<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Mturk HIT</title>
  <style>
    {{ css }}
  </style>

  <script src="https://s3.amazonaws.com/mturk-public/externalHIT_v1.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script>
    var num_lines = {{ page['lines'] | length }};
    {{ javascript }}
  </script>
 </head>
 <body>
  <form name="mturk_form" method="post" id="mturk_form" action="https://www.mturk.com/mturk/externalSubmit">
    <input type="hidden" value="" name="assignmentId" id="assignmentId"/>
    <input type="hidden" value="{{ page_num }}" name="page_num"/>

    <div class="instructions">
      <p>
        The image on the left is a scanned page from a book of
        legislative reference data. The table on the right contains our
        digital representation of this data using OCR: what the computer
        thinks it is. This task is to check if they match.
      </p>
      <p>
        For each row in the right column there is a set of radio buttons and a
        checkbox. For each row:
      </p>
      <ol>
        <li>Look for the corresponding row in the image on the left</li>
        <li>
          Determine if the line in the right column matches, i.e. has
          <b>identical</b> values for each group of text
        </li>
        <li>
          If the lines match, click the first radio button,
          &quot;Accurate&quot;/&quot;A&quot;
        </li>
        <li>
          If the lines don't match, click the second radio button,
          &quot;Inaccurate&quot;/&quot;I&quot;
        </li>
      </ol>
      <p>
        If you see an asterisk on the left that&rsquo;s missing on the right,
        mark the line as inaccurate. If for some reason the answer is unclear,
        click the checkbox to indicate that (&quot;?&quot;). The checkbox is
        only for lines that can't be determined to be &quot;Accurate&quot; or
        &quot;Inaccurate&quot;.
      </p>
    </div>


    <table>
      <tr valign="top">
        <td width="50%">
          <img src="{{ page['image_url'] }}">
        </td>
        <td class="text-cont" width="50%">
         <div>                                                            <span class="label">A</span><span class="label">I</span><span class="label">?</span></div>
         {% for line in page['lines'] %}
          <div class="text">{{ line }}<input type="radio" name="accuracy_{{loop.index0}}" value="accurate"><input type="radio" name="accuracy_{{loop.index0}}" value="inaccurate"><input type="checkbox" name="unclear_{{loop.index0}}"></div>
         {% endfor %}
        </td>
      </tr>
    </table>

    <div id="error-incomplete" class="error" style="display: none;">
      You must complete every row in the bottom window.
    </div>

    <div class="submit-cont"><input type="submit" id="submitButton" value="Submit"></div>
  </form>

  <script>turkSetAssignmentID();</script>
 </body>
</html>
